body {

  margin: 0;
  background: linear-gradient(110deg, #FF8C00 5%, #FFA500 60%, #FF8C00 60%, #FFA500 20%);
  font-family: 'Bubblegum Sans', cursive;
  font-size: 20px;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background: rgb(217, 210, 191);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: -5px 50%;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

nav {
  float: right;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav li {

  display: inline-block;

  margin-left: 70px;
  padding-top: 23px;
  padding-right: 160px;

  position: relative;
}

nav li:nth-child(1) {
  float: left;
}

nav li:nth-child(2) {
  float: left;
}


nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #ff8400;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ff8400;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;

}

nav a:hover::before {

  width: 100%;
}

@media  (min-width: 200px) and (max-width: 1490px ) {
	nav li {

    display: inline-block;
    margin-right: 9px;
    margin-left: 1px;
    padding-top: 23px;
    padding-right: 175px;
  padding-left: 5px;
    position: relative;
  }
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(../images/vecteezy_Colorful-Abstract-background_RD0221-06-01_generated.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.landing {
  max-width: 650px;
  margin: 60px 100px;
  padding-top: 10%;
}

.landing .info h2 {
  color: #000000;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 60px;
  font-family: 'Rubik Moonrocks', cursive;

}

.landing .info h2 span {
  color: #fff;
  font-size: 50px;
  font-weight: 600;

}

.landing .info .lan {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  font-family: 'Anek Odia', sans-serif;
}



.landing .bulb {
  width: 25%;
  float: right;
  padding-left: 80%;
  position: absolute;
  left: -10%;
  top: 20%;
}


.heading {
  position: absolute;
  top: 105%;
  left: 38%;
  font-family: 'Anek Odia', sans-serif;
}

.text1 {

  font-family: 'Anek Odia', sans-serif;

  font-size: 40px;
  text-align: center;
}


.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}

.line {


  padding-left: 5%;

  border: 5px solid grey;
  border-radius: 5px;

  border: 3px solid #FF8C00;
  border-radius: 5px;
  width: 30%;

  margin: auto;
}



* {

  margin: 0px;
  padding: 0px;
}




.up {
position: relative;
  padding-top: 5%;
}

.for {
  background-color: rgb(136, 102, 7);
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  text-align: center;
  line-height: 50px;
  font-family: 'Anek Odia', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}





.btn {
  display: inline-block;
  border-style: solid;
  text-decoration: none;
  color: #FF8C00;
  font-family: Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(14, 14, 14);
  padding: 0px 60px 0px 60px;
  border: 5px solid;
  border-radius: 5px;
  margin-left: 30px;
  text-align: center;
  line-height: 60px;
  cursor: default;

}

.btn:hover {
  transform: scale(1.1);
}

.text3 {
  text-align: center;
  font-size: 40px;
}

.text2 {
  text-align: center;
  font-size: 25px;
}

.contLink {
  text-decoration: none;
  color: #FF8C00;
}


.container1 {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  top: 5vh;
  font-family: 'Anek Odia', sans-serif;
}

.container1 .card1 {
  position: relative;
  cursor: pointer;
}

.container1 .card1 .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container1 .card1 .face.face1 {
  position: relative;
  background: rgb(187, 101, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container1 .card1:hover .face.face1 {
  background: #ff0057;
  transform: translateY(0);
}

.container1 .card1 .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container1 .card1:hover .face.face2 {
  transform: translateY(0);
}

.container1 .card1 .face.face2 .content p {
  margin: 0;
  padding: 0;
}


.subject {
  width: clamp(250px, 95vw, 350px);

}

.container6 {
 
  padding-bottom: 5%;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  font-family: 'Anek Odia', sans-serif;
  float:left;
}

.container7 {
 
  padding-bottom: 5%;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  font-family: 'Anek Odia', sans-serif;
  float:left;
}

.pissu{
  width: 100%;
  display: flex;
  background-color: #fbeec1;
}

.container8 {
  background-color: #fbeec1;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  font-family: 'Anek Odia', sans-serif;
  float:left;
}
.off{
  text-align: center;
  background-color: #fbeec1;
}

.subjectlist {
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: .3rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

}

.subjectlist::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: red;
  z-index: -1;
  transform: scaleX(.015);
  transform-origin: left;
  transition: 200ms ease-in-out transform;

}

.subjectlist:hover::before {
  transform: scale(1);

}

.subjectlist:hover * {
  color: #fff;
}

.subjectlist:first-of-type::before {
  background-color: #00a1a1;

}

.subjectlist:nth-of-type(2)::before {
  background-color: #8a2be2;

}

.subjectlist:nth-of-type(3)::before {
  background-color: #f08800;
}

.subjectlist:last-of-type::before {
  background-color: #f00058;
}




.subjectlist:first-of-type {
  color: #00a1a1;
}

.subjectlist:nth-of-type(2) {
  color: #8a2be2;
}

.subjectlist:nth-of-type(3) {
  color: #f08800;
}

.subjectlist:last-of-type {
  color: #f00058;
}



.listsub {
  font-size: 1.3rem;
  font-weight: 500;
  transition: 200ms ease-in-out color;
}

.listimg {
  font-size: 2rem;
  margin-right: 1.5rem;
  transition: 200ms ease-in-out color;
}


.subjectTitle {
  text-align: center;
}



.main {
  width: 100%;
  height: 30vh;
  
  justify-content: center;
  align-items: center;
 
 
}

.profile-card {
  position: relative;
  font-family: sans-serif;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
}


.profile-card:hover {
  border-radius: 10px;
  height: 260px;
}

.profile-card .img7 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}

.img7 img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}

.profile-card:hover .img {
  transform: translateY(-60px);
}

.profile-card:hover img {
  border-radius: 10px;
}

.caption {
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}

.profile-card:hover .caption {
  opacity: 1;
}

.caption h3 {
  font-size: 21px;
  font-family: sans-serif;
}

.caption p {
  font-size: 15px;
  color: #0c52a1;
  font-family: sans-serif;
  margin: 2px 0 9px 0;
}

.caption .social-links a {
  color: #333;
  margin-right: 15px;
  font-size: 21px;
  transition: .6s;
}

.social-links a:hover {
  color: #0c52a1;
}

.main1 {

  width: 100%;
  height: 30vh;

  justify-content: left;
  align-items: center;
  
}


.staff{
  position: relative;
  display: flex;
  background-image: url(../images/vecteezy_abstract-orange-fluid-wave-background_6126108.jpg);
  padding-top: 10%;
  width: 100%;
  height: max-content;
  padding-bottom: 10%;
}

.lect {
  text-align: center;
  padding-top: 2%;
  font-size: 25px;
  font-family: 'Anek Odia', sans-serif;
  background-image: url(../images/vecteezy_abstract-orange-fluid-wave-background_6126108.jpg);
}





.footer {
  width: 100%;
  height: 1cm;
  text-align: center;
  font-size: 20px;
  background-color: #fbeec1;
}