body {

  margin: 0;
  background: linear-gradient(110deg, #FF8C00 5%, #FFA500 60%, #FF8C00 60%, #FFA500 20%);

  font-family: 'Bubblegum Sans', cursive;
  font-size: 20px;
  font-weight: 400;
  overflow-x: hidden;

}

/*navigation bar*/
.container {
  width: 100%;
  margin: 0 auto;

}

header {
  background: rgb(217, 210, 191);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: -5% 80%;
  position: fixed;
  width: 100%;
  z-index: 3;

}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

nav {
  float: right;


}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav li {

  display: inline-block;

  margin-left: 70px;
  padding-top: 23px;
  padding-right: 160px;

  position: relative;
}

nav li:nth-child(1) {
  float: left;
}

nav li:nth-child(2) {
  float: left;
}


nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #ff8400;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ff8400;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;

}

nav a:hover::before {

  width: 100%;
}

@media  (min-width: 200px) and (max-width: 1490px ) {
	nav li {

    display: inline-block;
    margin-right: 9px;
    margin-left: 1px;
    padding-top: 23px;
    padding-right: 175px;
  padding-left: 5px;
    position: relative;
  }
}

/*section 1*/
.container1 {
  position: relative;
  text-align: center;
  color: black;
  background: linear-gradient(110deg, #FF8C00 5%, #FFA500 60%, #FF8C00 60%, #FFA500 20%);
  padding-top: 0px;

}

.logotop {
  position: absolute;
  top: 7%;
  left: 1%;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.sub {
  font-size: 40px;
  font-family: 'IBM Plex Serif', serif;
  color: rgb(8, 8, 8);
}

.sub1 {
  padding-top: 4%;
  font-family: 'Fredericka the Great', cursive;
  font-size: 100px;
  color: rgb(22, 21, 21);

}


/*section 2*/
.centered {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: rgb(217, 210, 191);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Bubblegum Sans', cursive;

}


.containerb {
  position: relative;
  text-align: center;

  background-color: rgb(217, 210, 191);
  padding-top: 0;
  padding-right: 5%;
}

.content9 {
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 140px;

}

/*-video section*/


.video {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 1%;
  margin-top: 0.8%;

}

.art4 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px;
  background: linear-gradient(110deg, #FF8C00 5%, #FFA500 60%, #FF8C00 60%, #FFA500 20%);


}

.uni{
  text-align: center;
}

.pp {
  color: black;
  font-weight: bold;
  font-size: 30px;
}



.ncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;


}


.card1 {
  position: relative;
  width: 320px;
  height: 450px;
  margin: 2%;
  background: #287bff;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 15px 0 #fff,
    inset 0 -15px 0 rgba(255, 255, 255, 0.25),
    0 45px 0 rgba(0, 0, 0.15);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.card1::before {
  content: '';
  position: absolute;
  top: -140px;
  left: -40%;
  width: 100%;
  height: 150%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}

.card1:nth-child(1) {
  background: linear-gradient(to bottom, #ff2ae0, #645bf6);
}

.card1:nth-child(2) {
  background: linear-gradient(to bottom, #ffec61, #f321d7);
}

.card1:nth-child(3) {
  background: linear-gradient(to bottom, #24ff72, #9a4eff);
}

.icon {
  position: relative;
  width: 140px;
  height: 120px;
  background: #3c2846;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1),
    inset 0 -18px 0 #fff;
  z-index: 1000;
}

.icon::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background: #f00;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #322846;
}

.icon::after {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: #f00;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #322846;
}



.bla {
  font-size: 1.75em;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  text-align: center;
}

.bla2 {
  font-size: 20px;
  color: rgb(6, 6, 6);
  line-height: 1.5em;
  text-align: center;
}


image:hover {
  opacity: 1.0;
}


.footer {
  background-color: #fbeec1;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 1cm;
  text-align: center;
  font-size: 12px;
}
